body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

input,
textarea {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

button {
  background-color: #573eac;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

button:hover {
  background-color: #7d68c1;
}

input:focus, textarea:focus {
    border-color: #573eac; /* Cor desejada para o foco */
    box-shadow: 0 0 7px rgba(0, 123, 255, 0.5); 
    /* Sombra opcional para destacar o campo */ 
}